button {
    margin-left: 66px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    height: 24px;
    width: 24px;
    opacity: 0.5;
}

.section-list {
    padding-left: 1px;
}

.mes-array {
  padding-left: 1px;
}
