.messenger-screen {
    font-size: 30px;
    min-height: 100%;
}

.message-list {
    background-color: #dae8f3;
    min-height: 100%;
}

.header {
    margin: 10px 10px 10px 20px;
}

.questions-messenger {
    font-size: 20px;
    font-weight: 700;
    color: rgb(105, 104, 104);
}

.all-questions {
    display: grid;
    grid-template-columns: 92px 0.5fr;
    grid-template-rows: repeat(1, 30px);
    font-size: 14px;
    color: rgb(180, 180, 180);
    font-weight: 700;
}

.srt-dwn {
    color: rgb(180, 180, 180);
}
